@model BartenderApplication.Models.Order

@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

    <h3>Products List</h3>
    <table class="table">
        <thead>
            <tr>
                <th scope="row"></th>
                <th>Photo</th>
                <th>Name</th>
                <th>Price</th>
                <th>Buy</th>
            </tr>
        </thead>
        @foreach (var product in ViewBag.products)
        {

            <tr>
                <th scope="row"></th>
                <td><img src="~/images/@product.Photo" width="60" /> </td>
                <td>@product.Name</td>
                <td>@product.Price</td>
                <td align="center">
                    <form asp-controller="Orders" asp-action="Create" method="post">
                        <input asp-for="Name" value="@product.Name" hidden />
                        <input asp-for="Price" value="@product.Price" hidden />
                        <input asp-for="ProductID" value="@product.ProductID" hidden />
                        <input type="submit" value="Purchase" class="btn btn-primary" />
                    </form>
                </td>
            </tr>
        }
    </table>

</body>
</html>